<head>
    <title><%= title %></title>
    <link rel='stylesheet' type='text/css' href='/stylesheets/semantic.min.css' />
    <link rel='stylesheet' type='text/css' href='/stylesheets/selectize.css' />
    <link rel='stylesheet' type='text/css' href='/stylesheets/selectize.default.css' />
    <link rel='stylesheet' type='text/css' href='/stylesheets/style.css' />
    <script src='/javascripts/jquery-3.3.1.min.js'></script>
    <script src='/javascripts/semantic.min.js'></script>
    <script src='/javascripts/selectize.min.js'></script>
    <script src='/javascripts/index.js'></script>
</head>