<nav class="ui secondary pointing menu">
    <a id="home-nav" class="item" href="/">
        Home
    </a>
    <a id="add-nav" class="item" href="/add">
        Add entries
    </a>
    <a id="manage-nav" class="item" href="/manage">
        Manage
    </a>
</nav>