<!DOCTYPE html>
<html>
  <% include ./partials/head %>
  <body>
    <% include ./partials/nav %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
  <script>
    $('#home-nav').addClass('active');
    $('#add-nav').removeClass('active');
    $('#manage-nav').removeClass('active');
  </script>
</html>
